<!DOCTYPE html>
<html>
<head>
    <title>Paid Students</title>
    <style>
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

{% include 'Admin_Base.html' %}
<body>
    <h2>Students Who Purchased a Course</h2>
   <table>
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Mobile</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ payment.user.email }}</td>
      <td>{{ payment.user.first_name }}</td>
      <td>{{ payment.user.last_name }}</td>
      <td>{{ payment.user.mobile }}</td>
      <td>
        <a href="{% url 'user_detail' payment.user.id %}" class="btn btn-info btn-sm">View Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    {% include 'footer.html' %}
</body>
</html>
