
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />


    <title>Course Content</title>
</head>
<body>
    <div class="container my-4">
        <h2>Content for {{ course.course_title }}</h2>
        {% if contents %}
        <ul class="list-group">
            {% for content in contents %}
    <div>
        <h3>{{ content.title }}</h3>
        <p>{{ content.subtitle }}</p>
        {% if content.type == 'pdf' %}
            <a href="{{ content.resource_file }}" target="_blank">View PDF</a>
        {% elif content.type == 'image' %}
            <img src="{{ content.resource_file }}" alt="{{ content.title }}">
        {% elif content.type == 'video' %}
            <video controls controlslist="nodownload">
                <source src="{{ content.resource_file }}" type="video/mp4">
                <source src="{{ content.resource_file }}" type="video/webm">
                <source src="{{ content.resource_file }}" type="video/ogg">
                <source src="{{ content.resource_file }}" type="video/mkv">
                Your browser does not support the video tag.
            </video>
        <!-- {% elif content.type == 'word' %}
        <a href="https://docs.google.com/viewer?url={{ content.resource_file|safe }}" target="_blank">View Document</a> -->
        {% else %}
            <p>Unsupported content type</p>
        {% endif %}
    </div>
{% endfor %}

        </ul>
        {% else %}
        <p>No content available for this course.</p>
        {% endif %}
    </div>
    

    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>



    
</body>
</html>
