<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paid Course</title>
</head>
<body>
    











    <div class="container my-4">
        <div class="text-center mb-4">
            <h2>Paid Courses</h2>
        </div>
        <div class="row">
            {% for course in courses %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 card-box">
                    {% if course.thumbnail %}
                    <img class="card-img-top" src="{{ course.thumbnail.url }}" alt="{{ course.course_title }} Thumbnail"
                        style="width: 100%; height: 200px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ course.course_title }}</h3>
                        <p class="card-text"><strong>Duration:</strong> {{ course.duration }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ course.description }}</p>
                        <p class="card-text"><strong>Instructor:</strong> {{ course.instructor_name }}</p>
                        <p class="card-text"><strong>Level:</strong> {{ course.course_level }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ course.course_price }}</p>
                        <div class="d-flex justify-content-around mt-3">
                            <button class="card-button add-btn"> <i class="fa-solid fa-cloud-arrow-up"></i> </button>
                            <button class="delet-btn"><i class="fa-solid fa-trash"></i></button>
                            <button class=" update-btn"><i class="fa-solid fa-pen-to-square"></i></i></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
   

</body>
</html>